body {
    background-color: #2A2B2C;
    color: #E6E6E6;
}

h3 {
    margin-top: 0;
}

input[type="text"] {
    background-color: #131616;
    color: #E6E6E6;
    border-color: #E6E6E6;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 0.5px;
    padding: 0.4em;
}

input[type="color"] {
    border: none;
    padding: 0;
    height: 2em;
    width: 2em;
}

div.minorDiv {
    background-color: #242526;
    margin: 1em;
    padding: 1em;
}

/* Top Bar */
#exportDivContainer {
    min-width: 7em;
    position: relative;
}
#exportDiv {
    position: absolute;
    top: 1em;
    right: 1em;
    left: 1em;
    background-color: #131616;
    border-radius: 0.5em;
    padding: 0.5em;
}
#exportDiv>label {
    display: block;
    width: 100%;
}
#exportDiv>input, #exportDiv>hr {
    display: none;
}
#exportDiv:hover>input, #exportDiv:hover>hr {
    display: inherit;
}

/* MainDiv -> middle column specific */
div.ageDiv {
    margin: 0.5em;
}
input.ageInput {
    width: 6em;
    float: right;
    margin-left: 2em;
}

div.backstorySubDiv {
    margin: 0.5em;
}
select.backstorySelect {
    float: right;
    margin-left: 2em;
}
/* Traits Dialog */
dialog#traitsDialog {
    position: fixed;
    right: 30%;
    left: 30%;
    top: 10%;
    bottom: 10%;
    width: 40%;
    height: 80%;
    margin: 0;

    background-color: #2A2B2C;
    border-color:#E6E6E6;
    color:#E6E6E6;
    z-index: 9999;
}
dialog#traitsDialog form#traitsForm {
    height: 100%;
    width: 100%;
}
dialog#traitsDialog div#traitsScrollBox {
    height: calc(100% - 2em);
    width: 100%;
    overflow-y: scroll;
}
dialog#traitsDialog button#traitsDialogCloseButton {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* MainDiv -> right column specific */
.passionButton {
    width: 24px;
    height: 24px;
    object-fit: cover;
    float: right;
    margin-left: 4px;
}
.passionButton:hover {
    background-color: #2A2B2C;
}
.passionButton[level="0"] {
    object-position: -100%;
}
.passionButton[level="1"] {
    object-position: 0;
}
.passionButton[level="2"] {
    object-position: 100%;
}

div.skillDiv {
    margin: 0.5em;
}

input.skillInput {
    width: 4em;
    float: right;
    margin-left: 2em;
}

/* Genotype */
div#geneHeaderDiv {
    position: sticky;
    top: -1.5em;
    z-index: 100;
}
div#selectedGenesDiv {
    min-height: 10.25em;
}

div.geneCategoryLabelDiv {
    margin-top: 3em;
}

label.geneListItem, label.geneSelectedItem {
    display:inline-block;
    width: 128px;
    height: 128px;
    padding: 0;
    border-color:#E6E6E6;
    border-width: 2px;
    border-style: solid;
    background-color:#131616;
    margin: 1em;
    margin-bottom: 2em;
    text-align: center;
    vertical-align:middle;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}